<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orbit</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron&display=swap" rel="stylesheet">
</head>
<body class="container mt-4 index-body">

    <h1 class="main-h">Orbit</h1>
    
    <form method="POST">
        <div class="input-group">
            <input type="text" name="query" class="form-control" placeholder="Search the space" value="{{ query or '' }}">
            <button type="submit" class="form-submit">Search</button>
        </div>        
    </form>

</body>
</html>